
* > i.fas, * > i.fa-regular, * > i.far {
    font-size: 1.33rem;
}

.pointer {
    cursor: pointer;
}

.rotate-90 {
    transform: rotate(-90deg);
}

.avatar {
    max-width: var(--avatar-width);
    min-width: var(--avatar-width);
    height: var(--avatar-width);
}
.avatar-xsmall {
    max-width: calc(0.65 * var(--avatar-width));
    min-width: calc(0.65 * var(--avatar-width));
    height: calc(0.65 * var(--avatar-width));
}

