/* -------------------------------------------------------------------------- */
/*                                   sidebar                                  */
/* -------------------------------------------------------------------------- */
.sidebar {
    background: $sidebar-bg-1;
    flex: 0 0 14rem;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    
    overflow: auto;
    &::-webkit-scrollbar {display: none;}

    @media only screen and (max-width: 768px) {
        display: none;
    }

    &-header {
        $color1:lighten($sidebar-bg-1,20%);
        $color2:$sidebar-bg-1;
        background-image: radial-gradient(ellipse closest-side, $color1, $color2);
        color: $sidebar-cl-1; 
        margin: 0.5rem 1rem 1rem 1rem;
        padding: 0.2rem;
        display: flex;
        justify-content: space-around;
        i {
            background: $sidebar-btn-bg;
            color: $sidebar-btn-cl;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    
    

    &-footer {
        $this-bg: darken($color: $sidebar-bg-1, $amount: 7);
        background: $this-bg;
        text-align: center;
        color: invert($this-bg);
    }
    
}



/* -------------------------------------------------------------------------- */
/*                                    tocs                                    */
/* -------------------------------------------------------------------------- */
.sidebar {
    section {
        /* ------------------------------- header - hr ------------------------------ */
        header {
            z-index: 1;
            text-align: center;
            color: invert($color: $sidebar-bg-1, $weight: 100%);
            font-size: small;
            margin-top: 2rem;
        }
        hr {
            margin: -0.7rem;
            padding: 0 1rem 0 1rem;
        }
        /* ----------------------------------- h1 ----------------------------------- */
        h1, .toc1 {
            display: flex; align-items: center; gap: 0.3rem;
            font-size: 1rem;
            text-decoration: none;
            cursor: pointer;
            color: $toc1-cl;
            padding: 0.3rem 0.5rem 0.3rem 0.5rem;
            transition: all 0.4s;
            
            &:hover {
                letter-spacing: 1px;
                background: $toc1-hover-bg;
                color: $toc1-cl;
                border-inline-start: 5px solid;
            }
        }
        h1, .toc1 {
            .angle { 
                // float: inline-end;
                margin-inline-start: auto;
            }
        }
        /* ----------------------------------- h2 ----------------------------------- */
        h2, .toc2 {
            display: block;
            padding-inline-start: 0.5rem;
            font-size: 0.6rem; font-weight:lighter; line-height: 1.8rem; color: $toc2-cl;
            text-decoration: none;
            border-radius: 0 0 0.9rem 0;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                letter-spacing: 1px;
                background: $toc2-hover-bg;
                color: $toc2-hover-cl;
            }
        }
    }
}
